.icon-ok::after {
  content: "✔️";
}

.icon-deny::after {
  content: "❌";
}

.icon-cross::after {
  content: "✖";
}

.icon-wait::after {
  content: "⌛";
}

.icon-check::after {
  content: "🗸";
}

.icon-info::after {
  content: "🛈";
}

.icon-clock::after {
  content: "🕙";
}

.icon-edit::after {
  content: "✎";
}

.emoji-thumbsUp::after {
  content: "👍";
}

.emoji-fail::after {
  content: "⛔";
}

.emoji-info::after {
  content: "ℹ️";
}

.emoji-warn::after {
  content: "⚠️";
}