//screen sizes
$sm: 830px;
$md: 1281px;
$lg: 1367px;
$xlg: 1921px;

$clr0: #fff;
$clr0-75: rgba($clr0, 0.75);
$clr0-50: rgba($clr0, 0.5);
$clr0-25: rgba($clr0, 0.25);
//
$clr1: #000;
$clr1-75: rgba($clr1, 0.75);
$clr1-50: rgba($clr1, 0.5);
$clr1-25: rgba($clr1, 0.25);
//
$clr2: #888;
$clr2-75: rgba($clr2, 0.75);
$clr2-50: rgba($clr2, 0.5);
$clr2-25: rgba($clr2, 0.25);
//
$clr-danger: #f00;
$clr-danger-75: rgba($clr-danger, 0.75);
$clr-danger-50: rgba($clr-danger, 0.5);
$clr-danger-25: rgba($clr-danger, 0.25);

$clr-submit-dark: goldenrod;
$clr-submit-light: gold;