#loader {
  position: fixed;
  top: 0vh;
  left: 0vw;
  z-index: 9999;
  min-height: 100%;
  width: 100%;
  background-color: $clr1-75;

  display: flex;
  justify-content: center;
  align-items: center;

  #loader-inner {
    border: 6px solid rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    animation: loaderspin 1.5s linear infinite;
  }

  .leaf {
    font-size: 5vw;
    animation: loaderAnim 2s linear infinite;
  }

  #loader-msg {
    position: absolute;
    z-index: 2;
    font-size: 2rem;
    margin-top: 15vw;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    // background-color: $clr1;
    // padding: 1vh;
    // border-radius: 15px;
  }
}



@keyframes loaderspin {
  0% {
    transform: rotate(0deg);
    border-top: 5px solid transparent;
  }

  100% {
    transform: rotate(360deg);
    border-top: 5px solid transparent;
  }
}

@keyframes loaderAnim {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.25);
    opacity: 1;
  }

  100% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}